@{
    ViewBag.Title = "Index";
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<h2>欢迎登录系统</h2>

<table class="table">
    <tbody>
        <tr>
            <th>标题</th>
            <th>内容</th>
            <th>创建时间</th>
            <th>创建人</th>
        </tr>

        @foreach (GeneModel.GeneData item in Model)
            {
            <tr>
                <td>@item.Organization</td>
            </tr>
        }
    </tbody>

</table>
