@{
    Layout = null;
}

<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>后台登录页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="~/Content/manage/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="~/Content/manage/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/manage/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/manage/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="~/Content/manage/compiled/icons.css">

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="~/Content/manage/lib/font-awesome.css">

    <!-- this page specific styles -->
    <link rel="stylesheet" href="~/Content/manage/compiled/signin.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- background switcher -->
    <div class="bg-switch visible-desktop">
        <div class="bgs">
            <a href="#" data-img="landscape.jpg" class="bg active">
                <img src="~/Images/manage/bgs/landscape.jpg" />
            </a>
            <a href="#" data-img="blueish.jpg" class="bg">
                <img src="~/Images/manage/bgs/blueish.jpg" />
            </a>
            <a href="#" data-img="7.jpg" class="bg">
                <img src="~/Images/manage/bgs/7.jpg" />
            </a>
            <a href="#" data-img="8.jpg" class="bg">
                <img src="~/Images/manage/bgs/8.jpg" />
            </a>
            <a href="#" data-img="9.jpg" class="bg">
                <img src="~/Images/manage/bgs/9.jpg" />
            </a>
            <a href="#" data-img="10.jpg" class="bg">
                <img src="~/Images/manage/bgs/10.jpg" />
            </a>
            <a href="#" data-img="11.jpg" class="bg">
                <img src="~/Images/manage/bgs/11.jpg" />
            </a>
        </div>
    </div>

    <div class="login-wrapper">
        <a href="index.html">
            <img class="logo" src="~/Images/manage/logo-white.png">
        </a>

        <div class="box">
            <div class="content-wrap">
                <h6>登录</h6>
                <form action="/Account/Login" method="post" name="LoginForm" id="LoginForm">
                    <input class="form-control" type="text" placeholder="用户名"  onkeyup="var reg = /^[\d\_a-zA-Z]+$/;if(!reg.test(this.value)) this.value='';" name="UserName" required="required" id="UserName">
                    <div class="ps"></div>
                    <input class="form-control" type="password" placeholder="密码" name="psw" id="psw"  required="required">
                    <div class="ps"></div>
                    <input type="submit" class="btn-glow primary login" value="登录" />
                </form>
            </div>
        </div>
    </div>
    <script src="~/scripts/manage/jquery-latest.js"></script>
    <script src="~/scripts/manage/bootstrap.min.js"></script>
    <script src="~/scripts/manage/theme.js"></script>
    <script src="~/scripts/manage/jquery-html5Validate-min.js"></script>
    <!-- pre load bg imgs -->
    <script type="text/javascript">
        $(function () {
            // bg switcher
            var $btns = $(".bg-switch .bg");
            $btns.click(function (e) {
                e.preventDefault();
                $btns.removeClass("active");
                $(this).addClass("active");
                var bg = $(this).data("img");

                $("html").css("background-image", "url('../../../Images/manage/bgs/" + bg + "')");
            });

            //$("#LoginForm").html5Validate({
                //errorPlacement: function (error, element) {
                //    var p = $("<p />").append(error);
                //    error.appendTo(element.next("div"));
                //},
                //success: function (label) {
                //},
                //rules: {
                //    UserName: "required",
                //    psw: {
                //        required: true,
                //        minlength: 5
                //    }
                //},
                //messages: {
                //    UserName: "* 用户名不能为空",
                //    psw: {
                //        required: "* 请输入密码",
                //        minlength: "* 密码不能小于{0}个字 符"
                //    }
                //}
            //});
        });
    </script>
</body>
</html>



