@{
    Layout = null;
}

<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>后台登录页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="~/Content/manage/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="~/Content/manage/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/manage/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/manage/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="~/Content/manage/compiled/icons.css">

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="~/Content/manage/lib/font-awesome.css">

    <!-- this page specific styles -->
    <link rel="stylesheet" href="~/Content/manage/compiled/signin.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
        .ps{
            position: absolute;
            color: red;
            font-size: small;
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <!-- background switcher -->
    <div class="bg-switch visible-desktop">
        <div class="bgs">
            <a href="#" data-img="landscape.jpg" class="bg active">
                <img src="~/Images/manage/bgs/landscape.jpg" />
            </a>
            <a href="#" data-img="blueish.jpg" class="bg">
                <img src="~/Images/manage/bgs/blueish.jpg" />
            </a>
            <a href="#" data-img="7.jpg" class="bg">
                <img src="~/Images/manage/bgs/7.jpg" />
            </a>
            <a href="#" data-img="8.jpg" class="bg">
                <img src="~/Images/manage/bgs/8.jpg" />
            </a>
            <a href="#" data-img="9.jpg" class="bg">
                <img src="~/Images/manage/bgs/9.jpg" />
            </a>
            <a href="#" data-img="10.jpg" class="bg">
                <img src="~/Images/manage/bgs/10.jpg" />
            </a>
            <a href="#" data-img="11.jpg" class="bg">
                <img src="~/Images/manage/bgs/11.jpg" />
            </a>
        </div>
    </div>

    <div class="login-wrapper">
        <a href="index.html">
            <img class="logo" src="~/Images/manage/logo-white.png">
        </a>

        <div class="box">
            <div class="content-wrap">
                <h6>登录</h6>
                @*<form action="/Account/Login" method="post" name="LoginForm" id="LoginForm">*@
                    <label for="rusername"></label>
                    <input class="form-control" type="text" placeholder="用户名" onkeyup="var reg = /^[\d\_a-zA-Z]+$/;if(!reg.test(this.value)) this.value='';" name="rusername" required="required" id="rusername">
                    <div id="lh" class="ps"></div>
                    <label for="rpassword"></label>
                    <input class="form-control" type="password" placeholder="密码" name="rpassword" id="rpassword" required="required">
                    <div id="2h" class="ps"></div>
                    <input type="button" class="btn-glow primary login" style="margin-top:10px;" onclick="dl()" value="登录" />
                @*</form>*@
            </div>
        </div>
    </div>

    <script src="~/scripts/manage/jquery-latest.js"></script>
    <script src="~/scripts/manage/bootstrap.min.js"></script>
    <script src="~/scripts/manage/theme.js"></script>
    <script src="~/scripts/validate/jquery.min.js"></script>
    <script src="~/scripts/validate/jquery.validate.min.js"></script>
    <script type="text/javascript">

        //登陆验证
        function dl() {
            var username = $("#rusername").val();
            var password = $("#rpassword").val();
            if (username == "" || username == null) {
                $("#lh").text("用户名不能为空!");
            }
            else if (password == "" || password == null) {
                $("#lh").text("");
                $("#2h").text("密码不能为空!");
            }
            else {
                $("#1h").text("");
                $("#2h").text("");
                $.ajax({
                    type: "post",
                    url: "/Account/denglu",
                    data: { "username": username, "password": password },
                    success: function (data) {
                        if (data == "1") {
                            $("#1h").text("");
                            $("#2h").text("");
                            window.location.href = '/AdminArea/Default/Index';
                        }
                        else if (data == "2") {
                            $("#1h").text("");
                            $("#2h").text("账号密码错误！");
                            return;
                        }
                        else {
                            $("#1h").text("");
                            $("#2h").text("");
                            alert("系统错误！");
                            //window.location.reload();  
                        }
                    }
                })
            }
        }      
    </script>
    <!-- pre load bg imgs -->
    <script type="text/javascript">
        $(function () {
            // bg switcher
            var $btns = $(".bg-switch .bg");
            $btns.click(function (e) {
                e.preventDefault();
                $btns.removeClass("active");
                $(this).addClass("active");
                var bg = $(this).data("img");
                $("html").css("background-image", "url('../../../Images/manage/bgs/" + bg + "')");
            });
        });

    </script>




</body>
</html>



